#language{
	width:100%;
	background:#000;
	color:#fff;
	font-family: 'Open Sans';
	padding: 5px;
	text-align: right;
	h3{
		display: inline-block;
		font-size: 0.8em;
		font-weight: 100;
	}
	ul{
		display: inline-block;
		margin: 0px;
		padding: 0px;
		li{
			display: inline-block;
			 line-height: 10px;
			a{
				color:#fff;
				text-decoration: none;
				padding:0px 5px;
				font-size: 0.8em;
				font-weight: 100;
			}	
			&+li{
				border-left:1px solid #ffffff91;
			}
		}	
	}
}

#logo{
	display: inline-block;
	margin-top: -50px;
	width: 20%;
	.brand{
    	display: block;
    }
    .brand-scroll{
    	display: none;
    }
}

#menu{
	display: inline-table;
	margin-top:75px;
	border-bottom: 1px solid #fff;
	margin-left: -3%;
	width:81%;
	ul{
		float: right;
		margin-bottom: 45px;
	}
	a{	
		font-family: 'Open Sans';
		text-transform: uppercase;
		color:#ffffffc9;
		padding: 10px 15px;
    	font-weight: 100;
    	text-decoration: none;
    	letter-spacing: 0.5px;
    	&:hover{
    		color:#fff;
    	}
	}
}

.scroll{
	position: fixed;
    background: #002a41;
    top: 0px;
    z-index: 999;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #ffffffc4;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
    #logo{
    	margin-top: 0px;
    	.brand{
	    	display: none;
	    }
	    .brand-scroll{
	    	display: block;
   		}
    }
    #menu{
    	margin-top:30px;
    	border:0px;
    	ul{
    		margin-bottom: 15px;
    		a{
    			color:#fff;
    		}
    	}
   	}
}
